* {
    box-sizing: border-box;
}


html, body {
    width: 300px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
}

label {
    font-size: 12px;
    padding: 8px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
}

.searchContainer {
    display: flex;
    width: 100%;
}

.search__input,
.search__button {
    padding: 5px 10px;
}

.search__input {
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
    flex-grow: 1;
}

input, select, button {
    height: 30px;
    margin-bottom: 10px;
}

.search__button {
    color: #fff;
    border: none;
    background-color: #5e92f3;
    text-align: center;
    width: 50%;
    cursor: pointer;
    transition: background-color .3s;
}

.search__button:hover {
    background-color: #003c8f;
}

.secondary {
    background-color: #5472d3;
}

.secondary:hover {
    background-color: #002171;
}

.search__select,
.search__exclude,
.search__exclude > input {
    width: 100%;
}


.footer {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 10px;
    text-decoration: none;
    color: #000;
}