* {
    box-sizing: border-box;
}

html, body {
    width: 250px;
}

.search__input,
.search__button {
    padding: 5px 10px;
}

.search__input {
    display: inline-block;
    width: 210px;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
}

input, select, button {
    height: 30px;
    margin-bottom: 10px;
}

.search__button {
    position: absolute;
    right: 10px;
    display: inline-block;
    width: 30px;
    color: #fff;
    border: none;
    background-color: limegreen;
    text-align: center;
}

.exclude > input {
    width: 100%;
}

.typeSelection {
    width: 100%;
}

a {
    width: 100%;
    text-align: center;
    background-color: #cfcfcf;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    text-decoration: none;
    padding: 5px;
    font-family: sans-serif;
    color: #000;
}